<div class="contact-same_group-all">
<div class="contact-image_c">
<%= link_to image_tag(contact.image, size: "350x350" ), contact_path(contact.id) %>
</div>

<div class="contact-name_c">
 <%= link_to "#{contact.last_name_c_j}#{contact.first_name_c_j}ちゃん", contact_path(contact.id)  %>
</div>
</div>