.sign_in{
  height: 60vh;
  text-align:center;
}

.current_parentuser_c_contact{
  margin: 50px;
  
}

.same_group {
  font-size: 30px;
}

.same_group_contact {
  width: 100vw;
  display: flex;
}

.teacher-same-group{
 font-size: 40px;
 max-width: 40px;
}

// 部分テンプレートcontacts/_contact.html.erb
.contact-same_group-all {
  display: flex;
  flex-direction: column-reverse;
  margin: 20px;
}

.contact-image_c{
}

.contact-name_c_{
}
// 部分テンプレートcontacts/_contact.html.erb

.not_sign {
  display: flex;
}

.parent_user_not_signed_in{
  width: 40vw;
  margin: 30px;
  padding: 30px;
  color: white;
  border: 1px solid black;
  border-radius: 30px;
  background-color: lightpink;
}

.btn-parent_user_signed_in {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid lightgray;
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  background-color: lightsalmon;
}

.btn-parent_user_signed_in:hover {
  background-color: rgb(248, 156, 248);
  border-color: black;
  color: gray;
}

.teacher_user_not_signed_in {
  width: 40vw;
  margin: 30px;
  padding: 30px;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgb(253, 248, 209);
}

.btn-teacher_user_signed_in {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid lightgray;
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  background-color: rgb(240, 238, 132);
}

.btn-teacher_user_signed_in:hover {
  background-color: rgb(252, 188, 115);
  border-color: black;
  color: #FFF;
}

.title-contents {
  width: 100vw;
  background-image: image-url('logo_2.png');
  background-size:  auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}


// 連絡帳より下部のトップページ

.service-title {
  font-size: 8vh;
  display: flex;
  justify-content: center;
  width: 50vw;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.push {
  height: 1vh;
}

